/* CSS Document */
*{margin:0; padding:0; font-size:14px; color:#323232; list-style:none; font-family:"\5FAE\8F6F\96C5\9ED1";}
body{ background:url(../img/bj.png); width:100%;}
#wrap{width:1400px; margin:0 auto;}

a{text-decoration:none} 
a:hover{color:#BA2636;text-decoration:none;}

ul#nav{ width:100%;  height:50px; margin:0 auto; text-align:center; line-height:50px; background-image:url(../img/1.png);}
ul#nav li{display:inline;}
ul#nav li a{display:inline-block; padding:0 50px; color:#FFF; font-size:20px; }
ul#nav li a:hover{background:#905400;}
ul#nav li a span{ background:#f76647; padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px;}
#nav-nav{width:100%; height:50px; overflow:hidden; }

.index-box{ width:100%; height:250px;  margin-top:20px;}
.box-one{ float:left; width:32%; border:#999 1px solid; margin:0px auto; height:250px;}
.box-two{ float:left; width:32%; margin:0px auto; margin-left:25px; height:250px;}
.box-three{ float:right; width:32%; margin:0px auto;  height:250px;}

.box-twonav{ background-image:url(../img/nav2.png); width:438px; height:48px; float:right;}
.box-twonav p{ color:#fff; line-height:48px; margin-left:50px; font-size:16px; float:left;}
.box-b{ float:right; margin-right:20px; margin-top:10px;}
.news_list {background:#fff; border:#ccc 1px solid; width:430px; height:190px; border-bottom-right-radius:3px; border-bottom-left-radius:3px; float:right; margin-right:3px;}
.news_list li {list-style-type:none; padding-left:10px; margin:8px; border-bottom:1px dotted #CCC; height:25px; line-height:25px;}
.news_list span {float:right; color:#999; font-size:12px; padding-right:10px;}
.news_list a:link, .news_list a:visited {text-decoration: none; color: #000;}
.news-pic{ float:left; width:40%; margin:10px;}
.news-text{ float:right; width:47%; font-size:14px; text-align:left; margin:10px; text-indent:2em; margin-left:10px;}

.xian{ width:1400px; height:1px; background:#ae7000; margin:10px auto;}

.box-four{ width:50%; float:left; }
.box-five{ width:29%; float:left; margin-left:40px;}
.box-six{ width:15%; float:right; border:#ccc 1px dashed; height:235px; background:#fff;}

.box-fournav{ background-image:url(../img/nav3.png); width:672px; height:45px; float:left;}
.box-fournav p{color:#fff; line-height:48px; margin-left:50px; font-size:16px; float:left;}

.one{ width:95.5%; background:#fff; border-bottom-right-radius:3px; border-bottom-left-radius:3px; border:#ccc 1px solid; height:195px; margin-top:46px;}
.one-1{ float:left; width:48%; height:200px; }
.one-2{ float:right; width:48%; height:200px; }
.one-0{width:95%; }
.one-1-1{ width:45%; float:left; margin:5px; margin-top:10px;}
.one-1-2{ width:48%; float:right; color:#999; font-size:12px; margin-left:10px;  margin-top:10px;}
.one-1-2 span{ color:#f20c00; font-size:12px;}
.six-1{ font-size:18px; color:#d90011; margin-left:10px; margin-top:10px;}
.six-1 span{ color:#333; font-size:12px;}
.six-2{ text-align:center; margin-top:10px;}
.six-3{ width:80%; height:40px; text-align:center; margin:0px auto;}
.six-4{ text-align:center;}
.six-button{ width:100%; height:40px; background:#f38417; border:#eb6100 2px solid; color:#fff; text-align:center; border-radius:5px;}

.lan{ width:1400px; height:30px; margin:0px auto; margin-top:20px;}
.lan-1{ float:left; margin-top:5px;}
.lan-2{ float:left; font-size:18px; color:#6a3906; line-height:25px; margin-left:20px;}
.lan-3{ float:right;}


.foot{ width:1400px; height:100px; background:#794d1f; margin-bottom:30px; margin:40px auto;}
.ewm{float:left; margin:10px; color:#fff; font-size:12px; text-align:center; width:150px;}
.foot-text{padding-top:10px; width:70%; float:left;}
.foot-text p{ color:#fff; font-size:12px; line-height:25px;}
.footpic{ float:right; margin-top:22px; margin-right:20px;}
